.groupsListBlock {
  width: 100%;
  margin-top: 20px;
}

.groupCard {
  text-align: center;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.groupButton {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.groupsList {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 40px 20px 40px;
  /* justify-content: center; */
}

.groupsText {
  font-size: 32px;
}

.groupsButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.loginForm {
  padding: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 40px;
  align-items: center;
}

.basicInput {
  width: 70%;
  border-radius: 5px;
  border-style: solid;
  /* border-color: red; */
}

.title {
  font-size: 32px;
}

.groupPage {
  padding-top: 40px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
}

.back {
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 40px;
  left: 40px;
}

.textBlock {
  /* background-color: darkorange; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: left;
  margin: 20px 40px 20px 40px;
  padding-bottom: 40px;
}

.description {
  /* color: rgb(69, 69, 69); */
  font-weight: bold
}

.editButton {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.textParticipants {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.showButton {
  cursor: pointer;
  font-style: italic;
  color: rgb(69, 69, 69);
}

.memberInfo {
  border-left: 5px #0d6efd solid;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 2px;
}

.actionsBlock {
  margin-top: 20px;
  text-align: center;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.invite {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  justify-content: center;
}

.inviteCode {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.searching {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}

.buttonsFound {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}

.foundGroup {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  width: 80%;
  min-width: 320px;
  align-self: center;
}

.loadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}